body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  #heart-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .heart {
    background-color: #ff6b6b; /* Red color */
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    position: absolute;
    left: 45%; top: 45%;
    width: 20px;
  }
  .heart:before,
  .heart:after {
    content: "";
    background-color: #ff6b6b;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
  }
  .heart:before {
    top:-10px;
    left: 0;
  }
  .heart:after {
    left: 10px;
    top: 0;
  }
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.25);
        translateX(5%)
        translateY(5%);
    }
    40% {
        transform: scale(1.5);
        translateX(9%)
        translateY(10%);
    }
}
  @keyframes fall {
    0% {
      top: -20px;
    }
    100% {
      top: 100vh;
      
    }
  }
.heart {
    animation: heartbeat 1s infinite;
    animation: fall 3s linear infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}  
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
